/* Explore Page styles */
.dark {
    background-color: #333333;
    color: #dfd261;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.hero {
    display: grid;
    height: 10rem;
    width: 100%;
    background-image: none;
    background-color: white;
}


.hero h1 {
    justify-self: center;
    align-self: center;
    color: #dfd261;
    font-size: 3rem;  /* Adjust the font-size of our h1 text*/
}

.header-container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #898989;
}

.header-container nav a {
    color: #dfd261;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-container nav a:hover {
    text-decoration: underline;
    color: black;
}

.header-container nav a:active {
    text-decoration: underline;
    text-transform: uppercase;
}

.my-music-content {
    margin: 2.5rem 1.5rem 1.5rem 5rem;
}

/* .explore-content {
    margin: 2.5rem;
} */

#browse-section {
    margin: 0 !important;
}

/* .explore-content div section {
    border: solid 5px;
    border-color: #dfd261;
    border-radius: 10px;
} */

.my-music-content section {
    margin: 3rem;
    padding: 50px 70px;
    background-color: #474747;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
}

.my-music-content section button {
    background-color: #dfd261;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 4.5rem;
    min-width: 6rem;
}

.my-music-content section button:hover {
    color: #dfd261;
    background-color: black;
}

.header-container nav a:active {
    background-color: black;
    color: #dfd261;
}

#new-releases {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-releases-article {
    margin: 1.5rem;
    min-width: 60rem;
    min-height: 20rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-releases-title {
    margin: 0;
    font-size: 2rem;
    max-height: 4rem;
}

#browse-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar a {
    color: #ffc107;
}

.playlist-border {
    border: 4px solid gold;
    padding: 10px;
    margin: 20px 20px;
}

.container section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px !important;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

body {
    background-color: #282424;
    /* Light background for contrast */
    color: #333;
    /* Dark text for readability */
    line-height: 1.6;
}

#songCardsContainer div {
    margin: 24px;
}

#songCardsContainer {
    padding: 2.5rem;
}

#border-control {
    margin: 20px !important;
}