.dark {
    background-color: #333333;
    color: #dfd261;
}

.dark a {
    color: rgb(0, 0, 0);
}

a {
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#toggle-btn {
    position: absolute;
    top: 45px;
    right: 45px;
}

