.dark {
    background-color: #333333;
    color: #dfd261;
}

a.dark {
    color: rgb(0, 0, 0);
}

a {
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#toggle-btn {
    position: absolute;
    top: 45px;
    right: 45px;
}

.playlist-border {
    border: 4px solid #0dcaf0;
    padding: 10px;
    margin: 20px 20px;
}

body.dark .playlist-border {
    border-color: #ffc107;
}

.dark h2 {
    color: #ffc107;
}